.login-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  padding: 55px 13px;
}

.login-container {
  max-width: 480px;
  width: 100%;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
  padding: 30px 40px;
}

.login-heading {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.login-text-error {
  color: var(--bs-danger);
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
}

.login-register-link {
  margin-top: 35px;
  font-size: 15px;
}

.login-register-link > a {
  text-decoration: none;
}

.login-empty-email.form-control.is-invalid {
  background-image: none;
}
