.login-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.login-container {
  max-width: 480px;
  width: 100%;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.45);
  padding: 40px;
  min-width: 200px;
}

.login-container .login-button {
  display: flex;
  margin: 0 auto;
}

.login-container .login-form-error,
.login-container .login-form-error:focus {
  border-color: var(--danger);
}

.login-text-error {
  color: var(--danger);
  margin-top: 5px;
}
