.login-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 155px);
}

.login-container {
  max-width: 480px;
  width: 100%;
  box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 25%);
  padding: 40px;
  min-width: 200px;
}

.login-container .login-button {
  display: flex;
  margin: 0 auto;
}

.login-container .login-form-error,
.login-container .login-form-error:focus {
  border-color: var(--bs-danger);
}

.login-text-error {
  color: var(--bs-danger);
  margin-top: 5px;
}
