.centered-container-base {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-centered {
    @extend .centered-container-base;
    height: 100%;
}
.card-style-container {
    @extend .centered-container-base;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    padding: 30px;
    box-shadow: 0px 0px 4px 0px rgba(148, 148, 148, 0.75);
}

.card-style-container input {
    margin-top: 10px;
    margin-bottom: 10px;
}
