.register {
  padding: 10px;
}

.register-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 35px;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
}

.register-error>label,
.register-error>select {
  color: var(--bs-red);
  opacity: 1 !important;
}

.register-gender-select {
  color: var(--bs-gray-900);
}


.captcha > div {
  display: flex;
  flex-direction: row;
}

.captcha>img {
  margin-right: 15px;
}

.captcha-refresh {
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-left: 25px;
}


.register-heading {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}
